body {
	background-color: whitesmoke;
	font-family: "Poppins", sans-serif;
}

header {
	text-align: center;
	height: 60px;

	h1 {
		color: black;
		font-size: 30px;
	}
}

.displayCar {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1px;

	.cars {
		position: relative;
		background-position: center;
		background-size: cover;
		height: 250px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-content: flex-end;
		color: antiquewhite;
		text-shadow: 2px 1px 1px black;

		& span:first-child {
			display: none;
		}
		.add_to_cart {
			position: absolute;
			top: 0;
			right: 0;
			text-transform: capitalize;
			width: 150px;
			padding: 10px;
			border-radius: 8px;
			background-color: white;
			border: 1px solid lightgrey;
			cursor: pointer;
			scale: 0.8;

			&:hover {
				background-color: #15b097;
				scale: 1;
				transition: all 0.5s;
				border: 1px solid black;
			}
			.disableButton {
				background-color: transparent;
				border: none;
			}
		}
	}
}
