body {
    background-color: lightgray;
    font-family: "Poppins", sans-serif;

    header {
        text-align: center;
        height: 100px;
        background-image: url('../img/az-cars-low-logo.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 10px 0 10px 0;

    }
}

.displayCar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;

    .cars {
        position: relative;
        background-position: center;
        background-size: cover;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: flex-end;
        color: antiquewhite;
        text-shadow: 2px 1px 1px black;

        & span:first-child {
            display: none;
        }

        span {
            margin-left: 3px;
        }

        .add_to_cart {
            position: absolute;
            top: 0;
            right: 0;
            width: 140px;
            padding: 6px;
            border-radius: 8px;
            background-color: lightgray;
            border: 1px solid black;
            cursor: pointer;

            &:hover {
                background-color: #15b097;
                transition: all 0.5s;
                border: 1px solid black;
                transform: translateX(-1em);
            }

            .disableButton {
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
        }
    }
}


footer {
    text-align: center;

    .button {
        margin-top: 10px;
        transition: all 1s;
        border-radius: 8px;
        border: 1px solid grey;
        cursor: pointer;
        padding: 6px;
        width: 150px;
        height: 40px;
    }

    hr {
        color: grey;
    }
}

.social_media {
    display: flex;
    justify-content: center;
    gap: 20px;
    scale: 1.4;

    i {
        cursor: pointer;
        scale: 1.4;
    }
}